In [57]:
def greet():
    print("Hello World")

greet()

Hello World

In [58]:
def greet(name):
    print(f'Hello {name}')
greet("Ramon")
greet("María")

Hello Ramon
Hello María

In [59]:
#returns values
def sum_numbers(a,b):
    return f'The sum of {a} + {b} is {a + b}'
result = sum_numbers(3,5)

In [60]:
#sum is a reserved function of Python for elemt lists
sum([2,5,9,8,6,1])

31

In [61]:
#Anonimus function "lambda"
numbers = [ 1,2,3,4,5,6,7,8,9,10]
import pandas as pd
numbers = pd.DataFrame(numbers, columns=["Numbers"])
numbers["Multi*2"] = numbers["Numbers"].apply(lambda x: x * 2)
numbers

   Numbers  Multi*2
0        1        2
1        2        4
2        3        6
3        4        8
4        5       10
5        6       12
6        7       14
7        8       16
8        9       18
9       10       20

In [62]:
#Docstring """ Function Description 
def area_cuadrada(base,alto):
    """
    Here a description about how work this function
    """
    return base * alto

In [63]:
area_cuadrada(20,30)

600

In [64]:
#Variable with many *arguments

def sum_variable(*numeros):
    total = 0
    for numero in numeros:
        total += numero
    return total

In [65]:
sum_variable(1,9,9)

19