In [1]:
def greet():
    print("Hello World")

greet()

Hello World

In [4]:
def greet(name):
    print(f'Hello {name}')
greet("Ramon")
greet("María")

Hello Ramon
Hello María

In [4]:
#returns values
def sum_numbers(a,b):
    return f'The sum of {a} + {b} is {a + b}'
result = sum_numbers(3,5)

In [6]:
#sum is a reserved function of Python for elemt lists
sum([2,5,9,8,6,1])

31

In [10]:
#Anonimus function "lambda"
numbers = [ 1,2,3,4,5,6,7,8,9,10]
import pandas as pd
numbers = pd.DataFrame(numbers, columns=["Numbers"])
numbers["Multi*2"] = lambda x: x * 2
numbers

   Numbers                                Multi*2
0        1  <function <lambda> at 0x7f5803ce5940>
1        2  <function <lambda> at 0x7f5803ce5940>
2        3  <function <lambda> at 0x7f5803ce5940>
3        4  <function <lambda> at 0x7f5803ce5940>
4        5  <function <lambda> at 0x7f5803ce5940>
5        6  <function <lambda> at 0x7f5803ce5940>
6        7  <function <lambda> at 0x7f5803ce5940>
7        8  <function <lambda> at 0x7f5803ce5940>
8        9  <function <lambda> at 0x7f5803ce5940>
9       10  <function <lambda> at 0x7f5803ce5940>