In [1]:
import pandas as pd
#Datos de ejemplo:
data = {
    'Nombre':['Juan','Ana','Luis','María'],
    'Edad':[28,22,35,40],
    'Ciudad':['Madrid','Barcelona','Sevilla','Valencia']
}

#Crear DataFrame
df = pd.DataFrame(data)
df

  Nombre  Edad     Ciudad
0   Juan    28     Madrid
1    Ana    22  Barcelona
2   Luis    35    Sevilla
3  María    40   Valencia